html, body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
}

#game-container {
  display: inline-block;
  margin: 50px auto;
}